body {
	background: EEE7D5;
	font-family: 'Libre Baskerville';
}

#artistsbox {
	width: 400px;
	margin: -40px auto;
	background: #93A1A1;
	padding: 10px;
	border-radius: 10px;
	overflow: hidden;
	float: left;
}

#artistsbox h3, #artistsbox h4 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

#artistsbox h3 {
	font-size: 2em;
	line-height: .9em;
	font-family: 'Wendy One';
	color: #115F79;
}

#artistsbox h4 {
	color: #973C26;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 1.2em;
}

#artistsbox img {
	float: right;
	margin-left: 10px;
	border-radius: 10px;
	width: 100px;
}

#artistsbox p {
	color: #1E3A40;
	font-size: .9em;
}

#artistsbox #next_btn, #artistsbox #prev_btn {
	background: #d33682;
	padding: 5px 10px;
	border-radius: 10px;
	margin: 10px 0;
	display: inline-block;
}

#artistsbox a#next_btn, #artistsbox a#prev_btn {
	text-decoration: none;
	color: #FFF;
}

#related {
position: absolute;
left:490px
}

#footer {
position:absolute;
bottom: 0px;
}
